*{
 font-family:"Poppins";
}
@media only screen and (max-width: 375px){

  div.container{
  height: 800px;
  box-sizing: border-box; 
  margin:auto;
  background-image: url("bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  font-size: 12px;   
  
}
  div.section{
  float: left;
  width: 80%;
  margin:0px;
  padding: 25px;
 
}
  .card {
  margin-top:10px;
  width:100%x;
}
input{
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border:1px solid hsl(246, 25%, 77%);
}
input:focus {
  border:1px  hsl(246, 25%, 77%);
}
#blue{
  background-color:hsl(248, 32%, 49%);
  margin-top:150px;
  margin-bottom:60px;
  padding:12px;
  height:50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 90%;
  border-radius:5px;
  color:white;
  text-align:center;
}
  .form{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #f1f1f1;
  width: 90%;
  padding:12px;
  border-radius:5px;
  text-align:center;
  }
.rightpart{
  float: left;
  width: 100%;
  margin-top:-10px;
}
#text{
  text-align: center;
  margin-top:10px;
  padding:10px;
  margin-bottom:-125px;
  background-color:hsl(0, 100%, 74%);
  color:white;
  
}

.red{
  color: hsl(0, 100%, 74%);
  font-size: 8px;
}
.bottom{
  color:hsl(246, 25%, 77%);
  font-size: 8px;
}
 
  h1{
    margin:5px;
    margin-bottom:10px;
    font-size: 25px;
    text-align:justify;
    word-spacing: -2px;
    
  }
  p{
    line-height:1.6;
    margin:5px;
    font-size: 14px;
  }  

div.rightpart{
  float: left;
  width: 100%;
  margin-top:-50px;
}

  .button{
   color:white;
   text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  margin-top:25px;
  margin-bottom:1px;
  background-color:hsl(154, 59%, 51%);
  padding: 1px;
}
  
}
@media only screen and (min-width: 1440px){
  
div.outer{
 background-image: url("favicon-32x32");
box-sizing: border-box; 
  height: 800px;
  width: 100%;
}
  div.container{
  box-sizing: border-box; 
  height: 780px;
  margin:5px;
  width: 95%;
  background-image: url("bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  
}
  div.section{
  float: left;
  width: 20%;
  margin-left:200px;
  padding:25px;
 
}
  .card {
  width:100%;
  margin-top:100px;

}
.red{
  color: hsl(0, 100%, 74%);
  font-size: 8px;
  
}
.bottom{
  color:hsl(246, 25%, 77%);
  font-size: 8px;
}
input{
  border:1px solid hsl(246, 25%, 77%) ;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  background-color: white;
}
input:focus {
  border:1px  hsl(246, 25%, 77%);
}
#blue{
  background-color:hsl(248, 32%, 49%);
  margin-top:200px;
  padding:12px;
  height:50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  border-radius:5px;
  color:white;
  text-align:center;
}
.form{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #f1f1f1;
  width: 100%;
  padding:12px;
  border-radius:5px;
  text-align:center;
  }
.button{
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-top:25px;
  margin-bottom:25px;
  background-color:hsl(154, 59%, 51%);
 padding: 15px;
}
.rightpart{
  float: left;
  width: 100%;
  margin-top:-80px;
}
#text{
  text-align: center;
  margin-right:-200px;
  margin-top:250px;
  padding:20px;
  background-color:hsl(0, 100%, 74%);
  color:white;
  
}

  h1{
    margin:5px;
    margin-bottom:10px;
    font-size: 40px;
    text-align:justify;
    word-spacing: -2px;
    font-weight:700;
    
  }
  p{
    line-height:1.6;
    margin:5px;
    font-size: 16px;
    font-weight:400;
    text-align:justify;
  }
}
#div1,#div2,#div3,#div4{
  color: hsl(0, 100%, 74%);
  text-align:right;
}